<section class="TodoSection">
        <div class="TodoSectionTitle">
                <p class="TodoSectionTitle-text"><%= section_title%></p>
                <p class="TodoSectionTitle-remainingCount"><%=todos.completed.count%>/<%=todos.count%></p>
        </div>
        <ul>
            <% todos.all.each do |todo|%>
                <li class="TodoItem">
                    <div class="TodoItem-Container">

                    <%class_name=todo.completed ? "completed-TodoItem-text" : "TodoItem-text"%>

                    <input class="TodoItem-checkbox" type="checkbox" <%="checked" if todo.completed%>>
                    <p class=<%=class_name%>><%=todo.todo_text%></p>

                    <% if show_due_date%>
                    <p class ="TodoItem-due_date"><%= todo.due_date.to_s(:short)%><p>
                    <% end%>
                    <img class="TodoItem-delete" src="TrashIcon.svg">
                    </div>
                </li>
            <% end%>
        </ul>
</section>
